/****************************************************/
/********** HOJA DE ESTILO TRANFORMERS IDW **********/
/****************************************************/

/********** ESTILO GENERAL **********/

@font-face {
  font-family: normal;
  src: url('../fonts/ZenDots-Regular.ttf');
}

@font-face {
  font-family: titulo;
  src: url('../fonts/Transformers\ Movie.ttf');
}

@font-face {
  font-family: extra;
  src: url();
}

body {background-image: url('../images/ChaosTheory1_montage.jpg');
      background-repeat:repeat-y;
      background-position: center;
      background-size: cover;}

.body {background-image: url('../images/MTMTE_cas_by_Alex_Milne.jpg');
       background-repeat: repeat-y;
       background-position: center;
       background-size: cover;}

.bod {
  background-image: url('../images/IDW-Optimus-Prime-25-Cover-By-Andrew-Griffith.jpg');
  background-repeat: repeat-y;
  background-position: center;
  background-size: cover;
}

#wrapper {background-color: cornflowerblue;
          color: darkmagenta;
          margin: auto;
          width: 80%;}

#wrapper1 {
  background-color: aqua;
          margin: auto;
          width: 80%;
          color: coral;
}

#wrapper2 {background-color: blueviolet;
           margin: auto;
           width: 80%;
           color: chartreuse;}

.titulo-seccion {
  text-align: center;
  font-family: titulo;
  font-size: 2em;
  padding: 1rem;
}

img.responsive {width: 100%;}


/********** ESTILO DE NAVEGACIÓN (Traida de w3schools) **********/

.topnav {
  background-color: #333;
  overflow: hidden;
  position: sticky;
  font-family: normal;
  top: 0;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/*.topnav a.active {
  background-color: #04AA6D;
  color: white;
}*/

.topnav .icon {
  display: none;
}

@media screen and (max-width: 800px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/********** HERO SECTION **********/

#hero {
  background-image: url('../images/MTMTE-RID-50-featured-1000x700.jpg');
  height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: titulo;
  text-align: center;
  padding-top: 20px;
}

#titulo {
  font-size: bold;
  background-color: rgb(170, 4, 70, 0.8);
  margin: auto;/**/
  border-radius: 100%;
  color:blue;
  position: absolute;
  padding: 10px;
  top: 50%;
  left: 30%;
  /*transform: translate(-60%, -40%);*/
}

/********** INTRO **********/

#intro {
  font-family: normal;
  padding: 20px;
  border-bottom: 2px solid rgb(211, 11, 11);
}

#texto {
  font-size: 1em;
  /*text-align: 20%;*/
  padding: 20px;
}

.grid1 {display: grid;
        grid-template-columns: 50% 50%;
        padding: 10px;}

.col1 {
  float: left;
  padding: 10px;
}

/********** MTMTE **********/

#MTMTE {
  font-family: normal;
  padding: auto;
  border-bottom: 2px solid rgb(211, 11, 11);
}

.grid4 {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 10px;
}

.col4 {
  padding: 10px;
}

.container {
  position: relative;
  width: 100%;
  float: left;
  padding: 2%;
  box-sizing: border-box;
}

/********** RID **********/

#RID {
  font-family: normal;
  padding: auto;
  border-bottom: 2px solid rgb(211, 11, 11);
}

#RID h1 {
  text-align: center;
  font-family: titulo;
  font-size: 3em;
}

/********** CROSSOVERS **********/

#crossovers {
  font-family: normal;
  border-bottom: 2px solid rgb(211, 11, 11);
}

.grid5 {
  display: grid;
  grid-template-columns: 25% 25% 50%;
}

.col5 {
  padding: 10px;
}

.container3 {
  position: relative;
  width: 100%;
  float: left;
  padding: 2%;
  box-sizing: border-box;
}

/********** CHARACTERS **********/

#characters {
  font-family: normal;
  padding: auto;
  border-bottom: 2px solid rgb(211, 11, 11);
}

.grid2 {
  display: grid;
  grid-template-columns: 50% 50%;
}

.col img {
  width: 100%;
}

.grid3 {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.col3 {
  padding: 20px;
  float: left;
  text-align: center;
}

.container {
  position: relative;
  width: 100%;
  /*float: left;*/
  padding: 10px;
  /*box-sizing: border-box;*/
}

/********** FOOTER **********/

footer {
  background-color: darkmagenta;
  padding: 5% 0;
}

.grid6 {
  display: grid;
  grid-template-columns: 25% 25% 50%;
}

.col6 {
  padding: 6%;
}

.col6 img {
  width: 30%;
  display: block;
  margin: auto;
}

/********** MEDIA QUERIES **********/

@media only screen and (width<=1000px) {
  /*#titulo {font-size: 3rem;}*/
  .grid1 {grid-template-columns: 100%;}
  .col1 {width: 100%;}
}

@media only screen and (width<=900px) {
  .grid3 {grid-template-columns: 100%;}
}